[package]

name        = "nix"
description = "Rust friendly bindings to *nix APIs"
version     = "0.5.1-pre"
authors     = ["Carl Lerche <me@carllerche.com>"]
homepage    = "https://github.com/nix-rust/nix"
repository  = "https://github.com/nix-rust/nix"
license     = "MIT"
exclude     = [
  ".gitignore",
  ".travis.yml",
  "deploy.sh",
  "test/**/*"
]

build = "build.rs"

[features]
eventfd = []
execvpe = []
preadv_pwritev = []
signalfd = []

[dependencies]
libc = "0.2.11"
bitflags = "0.4"
cfg-if = "0.1.0"
void = "1.0.2"

[build-dependencies]
rustc_version = "0.1.7"
semver = "0.1.20"  # Old version for compatibility with rustc_version.

[dev-dependencies]
rand = "0.3.8"
tempdir = "0.3"
tempfile = "2"
nix-test = { path = "nix-test" }

[[test]]
name = "test"
path = "test/test.rs"

[[test]]
name = "test-signalfd"
path = "test/test_signalfd.rs"
harness = false
test = true

[[test]]
name = "test-mount"
path = "test/test_mount.rs"
harness = false
