[package]
name        = "nix"
description = "Rust friendly bindings to *nix APIs"
version     = "0.10.0-pre"
authors     = ["The nix-rust Project Developers"]
repository  = "https://github.com/nix-rust/nix"
license     = "MIT"
categories  = ["os::unix-apis"]
exclude     = [
  ".gitignore",
  ".travis.yml",
  "test/**/*"
]

[dependencies]
libc = { git = "https://github.com/rust-lang/libc" }
bitflags = "1.0"
cfg-if = "0.1.0"
void = "1.0.2"

[dev-dependencies]
lazy_static = "1"
rand = "0.3.8"
tempdir = "0.3"
tempfile = "2"
nix-test = { path = "nix-test", version = "0.0.1" }

[[test]]
name = "test"
path = "test/test.rs"

[[test]]
name = "test-aio-drop"
path = "test/sys/test_aio_drop.rs"

[[test]]
name = "test-mount"
path = "test/test_mount.rs"
harness = false

[[test]]
name = "test-ptymaster-drop"
path = "test/test_ptymaster_drop.rs"
