[package]

name        = "nix"
description = "Rust friendly bindings to *nix APIs"
version     = "0.8.1-pre"
authors     = ["The nix-rust Project Developers"]
homepage    = "https://github.com/nix-rust/nix"
repository  = "https://github.com/nix-rust/nix"
license     = "MIT"
categories  = ["os::unix-apis"]
exclude     = [
  ".gitignore",
  ".travis.yml",
  "deploy.sh",
  "test/**/*"
]

[features]
eventfd = []
execvpe = []
preadv_pwritev = []
signalfd = []

[dependencies]
libc = { git = "https://github.com/rust-lang/libc" }
bitflags = "0.9"
cfg-if = "0.1.0"
void = "1.0.2"

[dev-dependencies]
lazy_static = "0.2"
rand = "0.3.8"
tempdir = "0.3"
tempfile = "2"

[[test]]
name = "test"
path = "test/test.rs"

[[test]]
name = "test-signalfd"
path = "test/test_signalfd.rs"
harness = false
test = true

[[test]]
name = "test-mount"
path = "test/test_mount.rs"
harness = false
