name: Check new CHANGELOGs

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read 

jobs:
  check_new_changelog:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: check new CHANGELOG
        uses: ./.github/actions/check_new_changelog
